.ChessBoardX{
    background-color: antiquewhite;
    display: flex;
    width:min-content;
    margin: -0.1em;
}
.Plaid{
    background-color: aqua;
    width: 1em;
    height: 1em;
    margin: 0.25em;
}