.ChessBoardX {
  background-color: rgb(100, 50, 0);
}
.Plaid {
  width: 5em;
  height: 5em;
  margin: 0.15em;
  background-color: rgba(256, 256, 256, 0.5);
}
.Plaid::before {
  transform: translate(0.5em, 0.5em) scale(1.25);
}
.Plaid::before,
.Plaid.P1::before,
.Plaid.P2::before {
  content: "";
  position: absolute;
  top: auto;
  left: auto;
  width: 4em;
  height: 4em;
  border-radius: 100%;
}
.Plaid.P1::before,
.Plaid.P2::before {
  transform: translate(0.5em, 0.5em) scale(1);
  transition: 0.1s;
}
.Plaid.P1::before {
  background-color: aquamarine;
}
.Plaid.P2::before {
  background-color: red;
}
#WinUI {
  position: absolute;
  width: 10em;
  height: 100%;
  background-color: #4d4d4dc4;
  border-radius: 0.25em;
  padding: 1em;
  top: 0;
  right: -2.5em;
  transform: translate(100%, -1em);
  color: #fff;
}
